@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  outline: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.my-custom-image-class {
  width: 50%;
  border-radius: 0.5rem;
}

a {
  all: unset;
}

html,
body {
  @apply bg-blue-200 dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

input {
  position: relative;
  border: 0px;
  border-radius: 0.5rem;
}
